<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Register Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <style>
        .card {
            border-radius: 15px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .card-header {
            border-radius: 15px 15px 0 0;
        }
    </style>
</head>

<body>

    <div id="app" class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white text-center">
                        <h4>{{ mode === 'login' ? 'Login' : 'Register' }}</h4>
                    </div>
                    <div class="card-body">
                        <form @submit.prevent="handleSubmit">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" v-model="formData.username"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" v-model="formData.password"
                                    required>
                            </div>
                            <div v-if="mode === 'register'" class="mb-3">
                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword"
                                    v-model="formData.confirmPassword" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">{{ mode === 'login' ? 'Login' :
                                'Register' }}</button>
                        </form>
                    </div>
                    <div class="card-footer bg-light text-center">
                        <p>{{ mode === 'login' ? 'Don\'t have an account?' : 'Already have an account?' }} <a href="#"
                                @click="toggleMode">{{ mode === 'login' ? 'Register here' : 'Login here' }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.7/dist/vue.global.prod.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    mode: 'login',
                    formData: {
                        username: '',
                        password: '',
                        confirmPassword: ''
                    }
                };
            },
            methods: {
                handleSubmit() {
                    if (this.mode === 'login') {
                        // 登录逻辑
                        alert('Login - Username: ' + this.formData.username + ', Password: ' + this.formData.password);
                    } else {
                        // 注册逻辑
                        if (this.formData.password !== this.formData.confirmPassword) {
                            alert('Passwords do not match');
                            return;
                        }
                        alert('Register - Username: ' + this.formData.username + ', Password: ' + this.formData.password);
                    }
                },
                toggleMode() {
                    this.mode = this.mode === 'login' ? 'register' : 'login';
                }
            }
        });

        app.mount('#app');
    </script>
</body>

</html>