<template>
  <div class="screen-bg" v-loading="loading">
    <div class="container" ref="dataScreenRef">
      <div class="header">
        <div class="date">
          <!-- {{ currentDate + "&nbsp; &nbsp; &nbsp; " + str }} -->
        </div>
        <div class="title">数据可视化大屏</div>
      </div>
      <div class="body">
        <div class="left" style="flex: 0 1 30%">
          <dv-border-box1
            style="width: 100%; height: 50%; overflow: hidden"
            ref="borderRef"
          >
            <div
              id="echart7"
              style="width: 90%; height: 85%; margin: 0 auto"
            ></div>
          </dv-border-box1>
          <dv-border-box1 style="width: 100%; height: 50%" ref="borderRef">
            <div
              id="echart6"
              style="width: 100%; height: 90%; position: absolute"
            ></div>
          </dv-border-box1>
        </div>
        <div class="central" style="flex: 0 1 60%">
          <dv-border-box1 ref="borderRef">
            <div class="mapBox">
              <!-- <img class="imgItem1" src="../assets/mapImg/lbx.png" /> -->
              <!-- <img class="imgItem2" src="../assets/mapImg/jt.png" alt="" /> -->
              <!-- <img class="imgItem3" src="../assets/mapImg/map.png" alt="" /> -->
              <div
                style="width: 100%; height: 80%; position: absolute"
                id="map"
              />
            </div>
          </dv-border-box1>
        </div>
        <div
          class="right"
          style="
            flex: 0 1 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          "
        >
          <dv-border-box1
            ref="borderRef"
            style="width: 100%; height: 33%; overflow: hidden"
          >
            <div
              id="echart5"
              style="width: 90%; height: 85%; margin: 0 auto"
            ></div>
          </dv-border-box1>
          <dv-border-box1
            ref="borderRef"
            style="width: 100%; height: 33%; overflow: hidden"
          >
            <div
              id="echart4"
              style="width: 90%; height: 85%; margin: 0 auto"
            ></div>
          </dv-border-box1>
          <dv-border-box1
            ref="borderRef"
            style="width: 100%; height: 33%; overflow: hidden"
          >
            <div
              id="echart1"
              style="width: 90%; height: 85%; margin: 0 auto"
            ></div>
          </dv-border-box1>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref, reactive } from "vue";
import { useRouter } from "vue-router";
import * as echarts from "echarts";
import { init, EChartsOption } from "echarts";
// import mapJson from "./modules/china.json";

// console.log(mapJson)
// 获取当前时间
const currentDate = ref("");
const a = ["日", "一", "二", "三", "四", "五", "六"];
const week: any = ref(null);
const str = ref("");
// const timeInterval = setInterval(() => {
//   currentDate.value = new Date().toLocaleString();
//   week.value = new Date().getDay();
//   str.value = "今天是星期" + a[week.value];
// }, 1000);

const loading = ref(true);
// 获取自适应的盒子
const dataScreenRef = ref<HTMLElement | null>(null);

onMounted(() => {
  // 初始化时为外层盒子加上缩放属性，防止刷新界面时就已经缩放
  if (dataScreenRef.value) {
    dataScreenRef.value.style.transform = `scale(${getScale()}) translate(-50%, -50%)`;
    dataScreenRef.value.style.width = `1920px`;
    dataScreenRef.value.style.height = `1080px`;
  }
  // 初始化echarts
  initChart();
  initChart2();
  initChart3();
  initChart4();
  initChart7();
  initChart5();
  // 为浏览器绑定事件
  window.addEventListener("resize", resize);
});

// 根据浏览器大小推断缩放比例
const getScale = (width = 1920, height = 1080) => {
  let ww = window.innerWidth / width;
  let wh = window.innerHeight / height;
  return ww < wh ? ww : wh;
};

// 监听浏览器 resize 事件
const resize = () => {
  if (dataScreenRef.value) {
    dataScreenRef.value.style.transform = `scale(${getScale()}) translate(-50%, -50%)`;
  }
  // 使用了 scale 的echarts其实不需要需要重新计算缩放比例
  // Object.values(dataScreen).forEach(chart => {
  //   chart && chart.resize();
  // });
};

// 地图echarts
function initChart() {
  console.log(1111111);
  // prettier-ignore
  const data = [["2000-06-05", 116], ["2000-06-06", 129], ["2000-06-07", 135], ["2000-06-08", 86], ["2000-06-09", 73], ["2000-06-10", 85], ["2000-06-11", 73], ["2000-06-12", 68], ["2000-06-13", 92], ["2000-06-14", 130], ["2000-06-15", 245], ["2000-06-16", 139], ["2000-06-17", 115], ["2000-06-18", 111], ["2000-06-19", 309], ["2000-06-20", 206], ["2000-06-21", 137], ["2000-06-22", 128], ["2000-06-23", 85], ["2000-06-24", 94], ["2000-06-25", 71], ["2000-06-26", 106], ["2000-06-27", 84], ["2000-06-28", 93], ["2000-06-29", 85], ["2000-06-30", 73], ["2000-07-01", 83], ["2000-07-02", 125], ["2000-07-03", 107], ["2000-07-04", 82], ["2000-07-05", 44], ["2000-07-06", 72], ["2000-07-07", 106], ["2000-07-08", 107], ["2000-07-09", 66], ["2000-07-10", 91], ["2000-07-11", 92], ["2000-07-12", 113], ["2000-07-13", 107], ["2000-07-14", 131], ["2000-07-15", 111], ["2000-07-16", 64], ["2000-07-17", 69], ["2000-07-18", 88], ["2000-07-19", 77], ["2000-07-20", 83], ["2000-07-21", 111], ["2000-07-22", 57], ["2000-07-23", 55], ["2000-07-24", 60]];
  const dateList = data.map(function (item) {
    return item[0];
  });
  const valueList = data.map(function (item) {
    return item[1];
  });
  let option = {
    title: {
      text: "不同城市的延误时间和延误数量",
      subtext: "",
      x: "center",
      textStyle: {
        color: "#ffffff",
      },
    },
    legend: {
      data: ["Email", "Union Ads", "Video Ads"],
      orient: "vertical",
      x: "right", //可设定图例在左、右、居中
      textStyle: {
        color: "rgba(255,255,255,.5)",
        fontSize: "12",
      },
    },

    tooltip: {
      trigger: "axis",
    },
    xAxis: [
      {
        data: dateList,
      },
    ],
    yAxis: [{}],
    series: [
      {
        name: "Email",
        type: "line",
        showSymbol: false,
        data: valueList,
      },
      {
        name: "Union Ads",
        type: "line",
        showSymbol: false,
        data: valueList.map((item: any) => (item = item + 20)),
      },
    ],
  };
  const myChart = init(document.getElementById("map") as HTMLDivElement);
  myChart.setOption(option);
}
// 饼图
function initChart2() {
  // 基于准备好的dom，初始化echarts实例
  const myChart = init(document.getElementById("echart6") as HTMLDivElement);
  // 模拟的数据
  let data = [
    { value: 500, name: "铁路" },
    { value: 800, name: "公路" },
    { value: 300, name: "民航" },
  ];

  // 配置项
  let option = {
    title: {
      text: "客运量占比",
      left: "center",
      textStyle: {
        color: "#ffffff",
      },
    },
    tooltip: {
      trigger: "item",
      formatter: "{a} <br/>{b}: {c} ({d}%)",
    },
    legend: {
      orient: "vertical",
      left: 10,
      data: ["铁路", "公路", "民航"],
    },
    series: [
      {
        name: "客运量",
        type: "pie",
        radius: "50%",
        emphasis: {
          label: {
            show: true,
            fontSize: "20",
            fontWeight: "bold",
          },
        },
        data: data,
      },
    ],
  };

  // 使用刚指定的配置项和数据显示图表。
  myChart.setOption(option);
}
// 柱状图
function initChart3() {
  const myChart = init(document.getElementById("echart5") as HTMLDivElement);
  let option = {
    title: {
      text: "货物周转量总计",
      subtext: "",
      x: "center",
      textStyle: {
        color: "#ffffff",
      },
    },
    //  backgroundColor: '#00265f',
    tooltip: {
      trigger: "axis",
      axisPointer: {
        type: "shadow",
      },
    },
    xAxis: [
      {
        type: "category",
        data: ["浙江", "上海", "江苏", "广东", "北京", "深圳", "安徽", "四川"],
        axisLine: {
          show: true,
          lineStyle: {
            color: "rgba(255,255,255,.1)",
            width: 1,
            type: "solid",
          },
        },

        axisTick: {
          show: false,
        },
        axisLabel: {
          interval: 0,
          // rotate:50,
          show: true,
          splitNumber: 15,
          textStyle: {
            color: "rgba(255,255,255,.6)",
            fontSize: "12",
          },
        },
      },
    ],
    yAxis: [
      {
        type: "value",
        axisLabel: {
          //formatter: '{value} %'
          show: true,
          textStyle: {
            color: "rgba(255,255,255,.6)",
            fontSize: "12",
          },
        },
        axisTick: {
          show: false,
        },
        axisLine: {
          show: true,
          lineStyle: {
            color: "rgba(255,255,255,.1	)",
            width: 1,
            type: "solid",
          },
        },
        splitLine: {
          lineStyle: {
            color: "rgba(255,255,255,.1)",
          },
        },
      },
    ],
    series: [
      {
        type: "bar",
        data: [2, 3, 3, 9, 15, 12, 6, 4, 6, 7, 4, 10],
        barWidth: "35%", //柱子宽度
        // barGap: 1, //柱子之间间距
        itemStyle: {
          normal: {
            color: "#27d08a",
            opacity: 1,
            barBorderRadius: 5,
          },
        },
      },
    ],
  };

  // 使用刚指定的配置项和数据显示图表。
  myChart.setOption(option);
}
// 折线图
function initChart4() {
  const myChart = init(document.getElementById("echart4") as HTMLDivElement);
  let option = {
    title: {
      text: "货运量的变化趋势",
      subtext: "",
      x: "center",
      textStyle: {
        color: "#ffffff",
      },
    },
    tooltip: {
      trigger: "axis",
      axisPointer: {
        lineStyle: {
          color: "#dddc6b",
        },
      },
    },
    legend: {
      // top: '0%',
      orient: "vertical",
      x: "right", //可设定图例在左、右、居中
      data: ["T-Box", "OBD检测设备"],
      textStyle: {
        color: "rgba(255,255,255,.5)",
        fontSize: "12",
      },
    },
    // grid: {
    //   left: '10',
    //   top: '30',
    //   right: '10',
    //   bottom: '10',
    //   containLabel: true
    // },
    xAxis: [
      {
        type: "category",
        boundaryGap: false,
        axisLabel: {
          textStyle: {
            color: "rgba(255,255,255,.6)",
            fontSize: 12,
          },
        },
        axisLine: {
          lineStyle: {
            color: "rgba(255,255,255,.2)",
          },
        },

        data: [
          "01",
          "02",
          "03",
          "04",
          "05",
          "06",
          "07",
          "08",
          "09",
          "11",
          "12",
          "13",
          "14",
          "15",
          "16",
          "17",
          "18",
          "19",
          "20",
          "21",
          "22",
          "23",
          "24",
        ],
      },
      {
        axisPointer: { show: false },
        axisLine: { show: false },
        position: "bottom",
        offset: 20,
      },
    ],

    yAxis: [
      {
        type: "value",
        axisTick: { show: false },
        axisLine: {
          lineStyle: {
            color: "rgba(255,255,255,.1)",
          },
        },
        axisLabel: {
          textStyle: {
            color: "rgba(255,255,255,.6)",
            fontSize: 12,
          },
        },

        splitLine: {
          lineStyle: {
            color: "rgba(255,255,255,.1)",
          },
        },
      },
    ],
    series: [
      {
        name: "T-Box",
        type: "line",
        smooth: true,
        symbol: "circle",
        symbolSize: 5,
        showSymbol: false,
        lineStyle: {
          normal: {
            color: "#0184d5",
            width: 2,
          },
        },
        itemStyle: {
          normal: {
            color: "#0184d5",
            borderColor: "rgba(221, 220, 107, .1)",
            borderWidth: 12,
          },
        },
        data: [
          3, 4, 3, 4, 3, 4, 3, 6, 2, 4, 2, 4, 3, 4, 3, 4, 3, 4, 3, 6, 2, 4, 2,
          4,
        ],
      },
      {
        name: "OBD检测设备",
        type: "line",
        smooth: true,
        symbol: "circle",
        symbolSize: 5,
        showSymbol: false,
        lineStyle: {
          normal: {
            color: "#00d887",
            width: 2,
          },
        },
        itemStyle: {
          normal: {
            color: "#00d887",
            borderColor: "rgba(221, 220, 107, .1)",
            borderWidth: 12,
          },
        },
        data: [
          5, 3, 5, 6, 1, 5, 3, 5, 6, 4, 6, 4, 8, 3, 5, 6, 1, 5, 3, 7, 2, 5, 1,
          4,
        ],
      },
    ],
  };

  // 使用刚指定的配置项和数据显示图表。
  myChart.setOption(option);
}
// 折线图
function initChart7() {
  const myChart = init(document.getElementById("echart7") as HTMLDivElement);
  let option = {
    title: {
      text: "里程的变化趋势",
      subtext: "",
      x: "center",
      textStyle: {
        color: "#ffffff",
      },
    },
    tooltip: {
      trigger: "axis",
      axisPointer: {
        lineStyle: {
          color: "#dddc6b",
        },
      },
    },
    legend: {
      // top: '0%',
      orient: "vertical",
      x: "right", //可设定图例在左、右、居中
      data: ["T-Box", "OBD检测设备"],
      textStyle: {
        color: "rgba(255,255,255,.5)",
        fontSize: "12",
      },
    },
    // grid: {
    //   left: '10',
    //   top: '30',
    //   right: '10',
    //   bottom: '10',
    //   containLabel: true
    // },
    xAxis: [
      {
        type: "category",
        boundaryGap: false,
        axisLabel: {
          textStyle: {
            color: "rgba(255,255,255,.6)",
            fontSize: 12,
          },
        },
        axisLine: {
          lineStyle: {
            color: "rgba(255,255,255,.2)",
          },
        },

        data: [
          "01",
          "02",
          "03",
          "04",
          "05",
          "06",
          "07",
          "08",
          "09",
          "11",
          "12",
          "13",
          "14",
          "15",
          "16",
          "17",
          "18",
          "19",
          "20",
          "21",
          "22",
          "23",
          "24",
        ],
      },
      {
        axisPointer: { show: false },
        axisLine: { show: false },
        position: "bottom",
        offset: 20,
      },
    ],

    yAxis: [
      {
        type: "value",
        axisTick: { show: false },
        axisLine: {
          lineStyle: {
            color: "rgba(255,255,255,.1)",
          },
        },
        axisLabel: {
          textStyle: {
            color: "rgba(255,255,255,.6)",
            fontSize: 12,
          },
        },

        splitLine: {
          lineStyle: {
            color: "rgba(255,255,255,.1)",
          },
        },
      },
    ],
    series: [
      {
        name: "T-Box",
        type: "line",
        smooth: true,
        symbol: "circle",
        symbolSize: 5,
        showSymbol: false,
        lineStyle: {
          normal: {
            color: "#0184d5",
            width: 2,
          },
        },
        itemStyle: {
          normal: {
            color: "#0184d5",
            borderColor: "rgba(221, 220, 107, .1)",
            borderWidth: 12,
          },
        },
        data: [
          3, 4, 3, 4, 3, 4, 3, 6, 2, 4, 2, 4, 3, 4, 3, 4, 3, 4, 3, 6, 2, 4, 2,
          4,
        ],
      },
      {
        name: "OBD检测设备",
        type: "line",
        smooth: true,
        symbol: "circle",
        symbolSize: 5,
        showSymbol: false,
        lineStyle: {
          normal: {
            color: "#00d887",
            width: 2,
          },
        },
        itemStyle: {
          normal: {
            color: "#00d887",
            borderColor: "rgba(221, 220, 107, .1)",
            borderWidth: 12,
          },
        },
        data: [
          5, 3, 5, 6, 1, 5, 3, 5, 6, 4, 6, 4, 8, 3, 5, 6, 1, 5, 3, 7, 2, 5, 1,
          4,
        ],
      },
    ],
  };

  // 使用刚指定的配置项和数据显示图表。
  myChart.setOption(option);
}
// 旅客周转量的总计
function initChart5() {
  const myChart = init(document.getElementById("echart1") as HTMLDivElement);
  let option = {
    title: {
      text: "旅客周转量的总计",
      subtext: "",
      x: "center",
      textStyle: {
        color: "#ffffff",
      },
    },
    //  backgroundColor: '#00265f',
    tooltip: {
      trigger: "axis",
      axisPointer: {
        type: "shadow",
      },
    },
    // grid: {
    //   left: '0%',
    //   top: '10px',
    //   right: '0%',
    //   bottom: '4%',
    //   containLabel: true
    // },
    xAxis: [
      {
        type: "category",
        data: [
          "商超门店",
          "教育培训",
          "房地产",
          "生活服务",
          "汽车销售",
          "旅游酒店",
          "五金建材",
        ],
        axisLine: {
          show: true,
          lineStyle: {
            color: "rgba(255,255,255,.1)",
            width: 1,
            type: "solid",
          },
        },

        axisTick: {
          show: false,
        },
        axisLabel: {
          interval: 0,
          // rotate:50,
          show: true,
          splitNumber: 15,
          textStyle: {
            color: "rgba(255,255,255,.6)",
            fontSize: "12",
          },
        },
      },
    ],
    yAxis: [
      {
        type: "value",
        axisLabel: {
          //formatter: '{value} %'
          show: true,
          textStyle: {
            color: "rgba(255,255,255,.6)",
            fontSize: "12",
          },
        },
        axisTick: {
          show: false,
        },
        axisLine: {
          show: true,
          lineStyle: {
            color: "rgba(255,255,255,.1	)",
            width: 1,
            type: "solid",
          },
        },
        splitLine: {
          lineStyle: {
            color: "rgba(255,255,255,.1)",
          },
        },
      },
    ],
    series: [
      {
        type: "bar",
        data: [200, 300, 300, 900, 1500, 1200, 600],
        barWidth: "35%", //柱子宽度
        // barGap: 1, //柱子之间间距
        itemStyle: {
          normal: {
            color: "#2f89cf",
            opacity: 1,
            barBorderRadius: 5,
          },
        },
      },
    ],
  };

  // 使用刚指定的配置项和数据显示图表。
  myChart.setOption(option);
}
// 返回首页
const router = useRouter();

function backIndex() {
  // console.log('关闭');
  router.push("/");
}
</script>

<style scoped lang="less">
// 背景
.screen-bg {
  width: 100%;
  height: 100%;
  .light {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 37px;
    right: 50px;
    z-index: 99999;
    transform: translate(-50%, -50%);
    /* width: fit-content; */
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    cursor: pointer;
    overflow: hidden;
  }

  .light:hover {
    background-color: #ffffff;
    color: #050801;
    box-shadow: 0 0 5px #ffffff, 0 0 25px #ffffff, 0 0 50px #ffffff,
      0 0 200px #ffffff;
  }

  .light div {
    position: absolute;
  }

  .light div:nth-child(1) {
    width: 100%;
    height: 2px;
    top: 0;
    left: -100%;
    background: linear-gradient(to right, transparent, #ffffff);
    animation: animate1 1s linear infinite;
  }

  .light div:nth-child(2) {
    width: 2px;
    height: 100%;
    top: -100%;
    right: 0;
    background: linear-gradient(to bottom, transparent, #ffffff);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
  }

  .light div:nth-child(3) {
    width: 100%;
    height: 2px;
    bottom: 0;
    right: -100%;
    background: linear-gradient(to left, transparent, #ffffff);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
  }

  .light div:nth-child(4) {
    width: 2px;
    height: 100%;
    bottom: -100%;
    left: 0;
    background: linear-gradient(to top, transparent, #ffffff);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
  }

  @keyframes animate1 {
    0% {
      left: -100%;
    }

    50%,
    100% {
      left: 100%;
    }
  }

  @keyframes animate2 {
    0% {
      top: -100%;
    }

    50%,
    100% {
      top: 100%;
    }
  }

  @keyframes animate3 {
    0% {
      right: -100%;
    }

    50%,
    100% {
      right: 100%;
    }
  }

  @keyframes animate4 {
    0% {
      bottom: -100%;
    }

    50%,
    100% {
      bottom: 100%;
    }
  }
  // 中心容器
  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s;
    transform-origin: left top;
    /*!* 设置一个最小的宽度 *!*/
    min-width: 1800px;
    /* 设置一个最大的宽度 */
    max-width: 1800px;
    margin: 0 auto;
    padding-top: 10px;

    .header {
      position: relative;
      /*height: 5.2rem;*/
      height: 77px;
      margin-bottom: 10px;
      background-image: url("@/assets/dataScreen/pic-12.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;

      .date {
        position: absolute;
        left: 100px;
        top: 55%;
        transform: translateY(-50%);
        font-family: FZHei-B01S, Arial, sans-serif;
        font-size: 20px;
        color: rgb(255, 255, 255);
        font-weight: normal;
        justify-content: center;
        text-align: center;
      }

      .title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-family: FZHei-B01S, Arial, sans-serif;
        font-size: 30px;
        color: rgb(255, 255, 255);
        font-weight: normal;
        justify-content: center;
        text-align: center;
      }
    }

    .body {
      height: 100%;
      /*background: greenyellow;*/
      display: flex;
      justify-content: space-between;
    }
  }

  .mapBox {
    width: 100%;
    height: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    .imgItem1 {
      width: 90%;
      height: 80%;
      position: absolute;
      animation: rotate 10s linear infinite;
    }

    .imgItem2 {
      /*width: 90%;*/
      /*height: 80%;*/
      position: absolute;
      animation: rotate2 10s linear infinite;
    }

    @keyframes rotate {
      100% {
        transform: rotate(360deg);
      }
    }
    @keyframes rotate2 {
      100% {
        transform: rotate(-360deg);
      }
    }
  }
  ::v-deep .dv-border-box-1 .border-box-content {
    display: flex !important;
    align-items: center !important;
  }
}
</style>
